[submodule "ws-task"]
	path = ws-task
	url = git@github.com:For404Codes/Welcome-freshman-task.git
[submodule "ws-common"]
	path = ws-common
	url = git@github.com:For404Codes/Welcome-freshman-common.git
